{% extends 'base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->
{% load static %}
{% block tab_title %}{% trans "New Question" %}{% endblock %}
{% block page_title %}{% trans "New Question" %}{% endblock %}
{% block alerts %}
  {% if alerts %}
  <div class="alert alert-info" role="alert">
    <ul>
      {% for alert in alerts %}
        <li>{{alert}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endblock %}
{% block content %}
  <div id="exeer-form">
    <div class="container">
      <form id="consultant-profile-form" action="{% url 'exeerapp:question_new' %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-md-center">
          <div class="col-md-9 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
            <div class="contact-block">
              <form id="consultant-profile-form">
                <div class="row">
                  <div class="col-md-12 form-group">
                    {{form}}
                  </div>
                  <div class="col-md-12">
                    <div class="submit-button text-center">
                      <button class="btn btn-common" id="submit" type="submit">{% trans "Save" %}</button>
                      <div id="btnSubmit" class="h3 text-center hidden"></div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
